{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h2>End-User License Agreement (EULA) of <span class="app_name">Loader</span></h2>

<p>This End-User License Agreement ("EULA") is a legal agreement between you and <span class="company_name">Ventek Technologies (Pty) Ltd</span>. Our EULA was created by <a href="https://www.eulatemplate.com">EULA Template</a> for <span class="app_name">Loader</span>.</p></p>

<p>This EULA agreement governs your acquisition and use of our <span class="app_name">Loader</span> software ("Software") directly from <span class="company_name">Ventek Technologies (Pty) Ltd</span> or indirectly through a <span class="company_name">Ventek Technologies (Pty) Ltd</span> authorized reseller or distributor (a "Reseller"). Our Privacy Policy was created by <a href="https://www.generateprivacypolicy.com/">the Privacy Policy Generator</a>.</p>

<p>Please read this EULA agreement carefully before completing the installation process and using the <span class="app_name">Loader</span> software. It provides a license to use the <span class="app_name">Loader</span> software and contains warranty information and liability disclaimers.</p>

<p>If you register for a free trial of the <span class="app_name">Loader</span> software, this EULA agreement will also govern that trial. By clicking "accept" or installing and/or using the <span class="app_name">Loader</span> software, you are confirming your acceptance of the Software and agreeing to become bound by the terms of this EULA agreement.</p>

<p>If you are entering into this EULA agreement on behalf of a company or other legal entity, you represent that you have the authority to bind such entity and its affiliates to these terms and conditions. If you do not have such authority or if you do not agree with the terms and conditions of this EULA agreement, do not install or use the Software, and you must not accept this EULA agreement.</p>

<p>This EULA agreement shall apply only to the Software supplied by <span class="company_name">Ventek Technologies (Pty) Ltd</span> herewith regardless of whether other software is referred to or described herein. The terms also apply to any <span class="company_name">Ventek Technologies (Pty) Ltd</span> updates, supplements, Internet-based services, and support services for the Software, unless other terms accompany those items on delivery. If so, those terms apply.</p>

<h3>License Grant</h3>

<p><span class="company_name">Ventek Technologies (Pty) Ltd</span> hereby grants you a personal, non-transferable, non-exclusive licence to use the <span class="app_name">Loader</span> software on your devices in accordance with the terms of this EULA agreement.</p>

<p>You are permitted to load the <span class="app_name">Loader</span> software (for example a PC, laptop, mobile or tablet) under your control. You are responsible for ensuring your device meets the minimum requirements of the <span class="app_name">Loader</span> software.</p>

<p>You are not permitted to:</p>

<ul>
<li>Edit, alter, modify, adapt, translate or otherwise change the whole or any part of the Software nor permit the whole or any part of the Software to be combined with or become incorporated in any other software, nor decompile, disassemble or reverse engineer the Software or attempt to do any such things</li>
<li>Reproduce, copy, distribute, resell or otherwise use the Software for any commercial purpose</li>
<li>Allow any third party to use the Software on behalf of or for the benefit of any third party</li>
<li>Use the Software in any way which breaches any applicable local, national or international law</li>
<li>use the Software for any purpose that <span class="company_name">Ventek Technologies (Pty) Ltd</span> considers is a breach of this EULA agreement</li>
</ul>

<h3>Intellectual Property and Ownership</h3>

<p><span class="company_name">Ventek Technologies (Pty) Ltd</span> shall at all times retain ownership of the Software as originally downloaded by you and all subsequent downloads of the Software by you. The Software (and the copyright, and other intellectual property rights of whatever nature in the Software, including any modifications made thereto) are and shall remain the property of <span class="company_name">Ventek Technologies (Pty) Ltd</span>.</p>

<p><span class="company_name">Ventek Technologies (Pty) Ltd</span> reserves the right to grant licences to use the Software to third parties.</p>

<h3>Termination</h3>

<p>This EULA agreement is effective from the date you first use the Software and shall continue until terminated. You may terminate it at any time upon written notice to <span class="company_name">Ventek Technologies (Pty) Ltd</span>.</p>

<p>It will also terminate immediately if you fail to comply with any term of this EULA agreement. Upon such termination, the licenses granted by this EULA agreement will immediately terminate and you agree to stop all access and use of the Software. The provisions that by their nature continue and survive will survive any termination of this EULA agreement.</p>

<h3>Governing Law</h3>

<p>This EULA agreement, and any dispute arising out of or in connection with this EULA agreement, shall be governed by and construed in accordance with the laws of <span class="country">za</span>.</p>


<h2>Terms of Use of <span class="website_url">www.venteksa.com</span></h2>

<p>Welcome to the <span class="website_name">Ventek Technologies</span>  website (the "Website").</p>

<p><span class="website_name">Ventek Technologies</span> provides this Website and Services (located at <span class="website_url">www.venteksa.com</span>) to you subject to the notices, terms, and conditions set forth in these terms (the "Terms of Use"). In addition, when you use any of our Services, you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they are incorporated into this Terms of Use by this reference.</p>

<p>These Terms of Use are effective as of <span class="date">[DATE]</span>.</p>

<p>Your eligibility for use of the Website is contingent upon meeting the following conditions:</p>

<ul>
<li>You are at least 18 years of age</li>
<li>You use the Website and Services according to these Terms of Use and all applicable laws and regulations determined by the state and country of residence</li>
<li>You provide complete and accurate registration information and maintain accurate registration information on the Webite</li>
<li>You agree and understand that <span class="website_name">Ventek Technologies</span> may, at any time, and without prior notice, revoke and/or cancel your access if you fail to meet these criteria or violate any portion of these Terms of Use</li>
</ul>

<h3>Use of this Website</h3>

<p>In connection with your use of our Website, you must act responsibly and exercise good judgment. Without limiting the foregoing, you will not:</p>

<ul>
<li>Violate any local, state, provincial, national, or other law or regulation, or any order of a court</li>
<li>Infringe the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights</li>
<li>Interfere with or damage our Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology</li>
<li>Use automated scripts to collect information or otherwise interact with the Services or the Website</li>
<li>Enter into this agreement on behalf of another person or entity without consent or the legal capacity to make such agreements as a representative of an organization or entity</li>
</ul>

<h3>Intellectual Property</h3>

<p>All code, text, software, scripts, graphics, files, photos, images, logos, and materials contained on this Website, or within the Services, are the sole property of <span class="website_name">Ventek Technologies</span>.</p>

<p>Unauthorized use of any materials contained on this Website or within the Service may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or other regulations and statutes. If you believe that any of the materials infringe on any third party's rights, please contact <span class="website_name">Ventek Technologies</span> immediately at the address provided below.</p>

<h3>Third Party Websites</h3>

<p>Our Website may link you to other sites on the Internet or otherwise include references to information, documents, software, materials and/or services provided by other parties. These websites may contain information or material that some people may find inappropriate or offensive. This Terms of Service was created by <a href="https://www.termsusetemplate.com">Terms Use Template</a> and the <a href="https://www.generateprivacypolicy.com">Privacy Policy Generator</a>.</p>

<p>These other websites and parties are not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such sites, nor are we responsible for errors or omissions in any references to other parties or their products and services. The inclusion of such a link or reference is provided merely as a convenience and does not imply endorsement of, or association with, the Website or party by us, or any warranty of any kind, either express or implied.</p>

<h3>Disclaimer of Warranty and Limitation of Liability</h3>

<p>The Website is provided "AS IS." appfigures, its suppliers, officers, directors, employees, and agents exclude and disclaim all representations and warranties, express or implied, related to this Website or in connection with the Services. You exclude <span class="website_name">Ventek Technologies</span> from all liability for damages related to or arising out of the use of this Website.</p>

<h3>Changes to these Terms of Use</h3>

<p><span class="website_name">Ventek Technologies</span> retains the right to, at any time, modify or discontinue, any or all parts of the Website without notice.</p>

<p>Additionally, <span class="website_name">Ventek Technologies</span> reserves the right, in its sole discretion, to modify these Terms of Use at any time, effective by posting new terms on the Website with the date of modification. You are responsible for reading and understanding the terms of this agreement prior to registering with, or using the Service. Your use of the Website and/or Services after any such modification has been published constitutes your acceptance of the new terms as modified in these Terms of Use.</p>

<h3>Governing Law</h3>

<p>These Terms of Use and any dispute or claim arising out of, or related to them, shall be governed by and construed in accordance with the internal laws of the <span class="country">za</span> without giving effect to any choice or conflict of law provision or rule.</p>

<p>Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Website shall be instituted exclusively in the federal courts of <span class="country">za</span>.</p>

<h2>Privacy Policy of <span class="website_url">www.venteksa.com</span></h2>

<p>At <span class="website_name">Ventek Technologies</span>, we collect and manage user data according to the following Privacy Policy.</p>

<h3>Data Collected</h3>

<p>We collect information you provide directly to us. For example, we collect information when you create an account, subscribe, participate in any interactive features of our services, fill out a form, request customer support or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, credit card information and other contact or identifying information you choose to provide.</p>

<p>We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. For example, we collect information like web requests, the data sent in response to such requests, the Internet Protocol address, the browser type, the browser language, and a timestamp for the request.</p>

<p>We also use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our services or emails and to track count visits or understand usage and campaign effectiveness. Our Privacy Policy was created with the help of the <a href="https://www.privacy-policy-template.com">Privacy Policy Template</a> and the <a href="https://www.generateprivacypolicy.com">Generate Privacy Policy Generator</a>.</p>

<h3>Use of the Data</h3>

<p>We only use your personal information to provide you the <span class="website_name">Ventek Technologies</span> services or to communicate with you about the Website or the services.</p>

<p>We employ industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.</p>

<p>We do not share personal information you have provided to us without your consent, unless:</p>

<ul>
<li>Doing so is appropriate to carry out your own request</li>
<li>We believe it's needed to enforce our legal agreements or that is legally required</li>
<li>We believe it's needed to detect, prevent or address fraud, security or technical issues</li>
</ul>

<h3>Sharing of Data</h3>

<p>We don't share your personal information with third parties. Aggregated, anonymized data is periodically transmitted to external services to help us improve the Website and service.</p>

<p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information.</p>

<p>We also use social buttons provided by services like Twitter, Google+, LinkedIn and Facebook. Your use of these third party services is entirely optional. We are not responsible for the privacy policies and/or practices of these third party services, and you are responsible for reading and understanding those third party services' privacy policies.</p>

<h3>Cookies</h3>

<p>We may use cookies on our site to remember your preferences.</p>

<p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>

<h3>Opt-Out, Communication Preferences</h3>

<p>You may modify your communication preferences and/or opt-out from specific communications at any time. Please specify and adjust your preferences.</p>

<h3>Security</h3>

<p>We take reasonable steps to protect personally identifiable information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. But, you should keep in mind that no Internet transmission is ever completely secure or error-free. In particular, email sent to or from the Sites may not be secure.</p>

<h3>About Children</h3>

<p>The Website is not intended for children under the age of 13. We do not knowingly collect personally identifiable information via the Website from visitors in this age group.</p>

<h3>Changes to the Privacy Policy</h3>

<p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.</p>

<p>If we make major changes in the way we collect or use information, we will notify you by posting an announcement on the Website or sending you an email.</p>

{% endblock %}